services:
  echo-server:
    build: ./echo-server
    image: romanowalex/echo-server:v3.0
    container_name: echo-server
    ports:
      - "8080:8080"
    healthcheck:
      test: [ "CMD", "curl", "--silent", "--fail", "http://localhost:8080/manage/health" ]
      interval: 5s
      timeout: 1s
      retries: 5

  echo-client:
    build: ./echo-client
    image: romanowalex/echo-client:v3.0
    container_name: echo-client
    environment:
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8180:8180"
    healthcheck:
      test: [ "CMD", "curl", "--silent", "--fail", "http://localhost:8180/manage/health" ]
      interval: 5s
      timeout: 1s
      retries: 5
