---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: spring
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: default
  name: spring
rules:
  - apiGroups: [ "" ]
    resources:
      - endpoints
      - services
      - pods
    verbs: [ "get", "list", "watch" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: spring
  namespace: default
subjects:
  - kind: ServiceAccount
    name: spring
    namespace: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: spring
